$light-blue: #49b1f5;
$grey: #d1d2d2;
$orange: #ff7242;
$grey-blue : #8597a9;
$light-grey:rgb(225, 221, 221);
$light-white: rgba(204,204,204,1);
$white: #ffffff;
$black-grey: rgba(96,96,96,1);
$black: #000000;